#about .about_bg {
  width: 2000px;
  height: 2000px;
  position: absolute;
  left: -50%;
  bottom: -20%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
#about .about_bg::before {
  display: block;
  content: '';
  width: 1600px;
  height: 1600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
#about .container .imgWrap {
  width: 48%;
  height: 310px;
  margin-top: 10px;
  /* height: 340px; */
  position: absolute;
  border-radius: 150px 0 150px 0;
  background-image: url(../img/header_img3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#about .container .textWrap {
 width: 48%;
 height: auto; 
 position: relative;
 float: right;
 text-align: left;
}
#about .container .textWrap .contentsWrap {
  display: block;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
  margin-top: 10px;
}

/* 1024px 이하 화면*/
@media screen and (max-width: 1024px) {
  #about .container .textWrap {
    height: auto; 
   }
}

/* 769px 이하 화면*/
@media screen and (max-width: 769px) {
  #about .container .imgWrap  {
    width: 397px;
    height: 282px;
    top: 0;
    right: 0;
  }
  #about .container .textWrap {
    width: 100%;
    margin-top: 200px;
    text-align: left;
  }
  #about .titleWrap { 
    height: 110px; 
    margin-bottom: 30px;
  }
}

/* 600px 이하 화면*/
@media screen and (max-width: 600px) {
  #about .container .imgWrap {
    width: 400px;
    height: 300px;
    left: 0;
    margin: auto;
  }
  #about .container .textWrap {
    margin-top: 320px;
   }
}

/* 480px 이하 화면*/
@media screen and (max-width: 480px) {
  #about .container .imgWrap {
    width: 100%;
  }
  #about .container .textWrap .titleWrap {
    height: 80px;
  }
  #about .titleWrap .titleLine {
    height: 70px;
  }
}
/* 380px 이하의 화면에서 적용될 스타일 */
@media screen and (max-width: 380px) {
  #about .container .imgWrap {
    height: 260px;
  }
  #about .container .textWrap {
    margin-top: 280px;
  }
  #about .titleWrap .titleLine {
    height: 60px;
  }
  #about .titleWrap {
    margin-bottom: 20px;
  }
}

/* 320px 이하 화면*/
@media screen and (max-width: 320px) {
  #about .titleWrap .titleLine {
    height: 50px;
  }
  #about .titleWrap {
    margin-bottom: 10px;
  }
}