

#about .about_bg {
  width: 2000px;
  height: 2000px;
  position: absolute;
  left: -50%;
  bottom: -20%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
#about .about_bg::before {
  display: block;
  content: '';
  width: 1600px;
  height: 1600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

#about .container .imgWrap {
  width: 48%;
  /* width: 488px; */
  height: 340px;
  position: absolute;
  border-radius: 150px 0 150px 0;
  background-image: url(../img/header_img3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#about .container .imgWrap img {
  display: block;
  width: 100%;
}
#about .container .textWrap {
 /* width: 503px; */
 width: 48%;
 height: 355px; 
 position: relative;
 float: right;
 text-align: left;
}

#about .container .textWrap .contentsWrap {
  display: block;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
  margin-top: 10px;
}


/* 소형 스마트폰1 */
@media screen and (max-width: 480px) {
  /* #about {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  } */
  /* #about .container {
    padding: 0;
  } */
  #about .container .imgWrap {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 150px 0 150px 0;
    background-image: url(../img/header_img3.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  #about .container .textWrap {
    width: 100%;
    height: auto; 
    position: relative;
    margin-top: 320px;
    text-align: left;
   }
   #about .container .textWrap .titleWrap {
    height: 80px;
   }
   #about .container .textWrap .titleWrap .titleLine {
    height: 72px;
    margin-top: 6px;
   }
   #about .container .textWrap .titleWrap .titleText {
    display: block;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
    color: #fff;
    margin-left: 12px;
  }
  #about .container .textWrap .contentsWrap {
    display: block;
    font-size: 16px;
    line-height: 1.4;
    color: #fff;
    margin-top: 10px;
  }
}

/* 소형 스마트폰2 */
@media screen and (min-width: 481px) and (max-width: 600px) {
  /* #about {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  } */
  /* #about .container {
    padding: 0;
  } */
  #about .container .imgWrap {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 150px 0 150px 0;
    background-image: url(../img/header_img3.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  #about .container .textWrap {
    width: 100%;
    height: auto; 
    position: relative;
    margin-top: 320px;
    text-align: left;
   }
}

/* 중형 스마트폰 */
@media screen and (min-width: 601px) and (max-width: 767px) {
  /* #about {
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  } */
  /* #about .container {
    padding: 0;
  } */
  #about .container .imgWrap {
    width: 397px;
    height: 282px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 150px 0 150px 0;
    background-image: url(../img/header_img3.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  #about .container .textWrap {
    width: 100%;
    height: auto; 
    position: relative;
    margin-top: 180px;
    text-align: left;
   }
}

/* 소형 태블릿 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #about .container .imgWrap {
    width: 48%;
    height: 340px;
    position: absolute;
    border-radius: 150px 0 150px 0;
    background-image: url(../img/header_img3.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  #about .container .textWrap {
    width: 48%;
    height: 355px; 
    position: relative;
    float: right;
    text-align: left;
   }
}
