#footer .container {
  display: flex;
	justify-content: space-between;
}
#footer .leftContentsWrap {
	width: 40%;
  position: relative;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
#footer .leftContentsWrap .logo {
	width: 160px;
	height: 47px;
  position: relative;
	display: block;
	overflow: hidden;
}
#footer .leftContentsWrap .logo img {
	display: block;
	width: 100%;
}
#footer .leftContentsWrap .textGroup {
  width: 100%;
  position: relative;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
#footer .leftContentsWrap .textGroup span {
	width: 100%;
  display: block;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  color: #fff;
}
#footer .leftContentsWrap .textGroup span:not(:last-child) {
  margin-bottom: 4px;
}
#footer .rightContentsWrap {
	width: 60%;
  display: flex;
  justify-content: right;
}
#footer .rightContentsWrap .subMenuGroup {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
#footer .rightContentsWrap .subMenuGroup li a {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}
#footer .rightContentsWrap .subMenuGroup li:not(:last-child) a {
  margin-right: 20px;
}
#footer .rightContentsWrap .subMenuGroup li a:hover {
  color: #1E4527;
}

/* 769px 이하 화면*/
@media screen and (max-width: 769px) {
  #footer .container {
    justify-content: flex-start;
    flex-direction: column-reverse;
  }
  #footer .rightContentsWrap {
    width: 100%;
    justify-content: center;
  }
  #footer .leftContentsWrap {
    width: 100%;
    align-items: center;
    margin-top: 36px;
  }
  #footer .leftContentsWrap .textGroup span {
    text-align: center;
  }
}

/* 480px 이하 화면*/
@media screen and (max-width: 480px) {
  #footer .rightContentsWrap .subMenuGroup {
    justify-content: center;
    flex-wrap: wrap;
  }
  #footer .rightContentsWrap .subMenuGroup li {
    width: 33.333%;
    text-align: center;
  }
  #footer .rightContentsWrap .subMenuGroup li:nth-child(-n+3) {
    margin-bottom: 14px;
  }
  #footer .rightContentsWrap .subMenuGroup li:not(:last-child) a {
    margin: 0;
  }
}
