
/* *****
  navBar 
  태블릿 너비에 대한 스타일
*/
@media screen and (max-width: 900px) {
  #navBar .container .menuWrap .menuGroup {
    display: none !important;
  }
  #navBar .container #toggleBtn {
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-left: 16px;
    background-color: #999;
  }
  #navBar #toggleMenu {
    display: block;
    width: 100%;
    background-color: #aaa;
  }

  #navBar #toggleMenu .toggleMenuGroup {
    display: flex;
    height: 0;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    z-index: 111;
    transition: all 0.3s ease;
  }
  #navBar #toggleMenu .toggleMenuGroup.active {
    height: 480px !important;
  }
  #navBar #toggleMenu .toggleMenuGroup li a {
    display: block;
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    background-color: #1E4527;
    border-bottom: 1px solid #15301B;
    transition: background-color 0.3s ease-in;
  }
  #navBar #toggleMenu .toggleMenuGroup li a:hover {
    background-color: #15301B;
  }
  #navBar #toggleMenu .toggleMenuGroup li a span {
    display: inline-block;
    width: 186px;
    text-align: left;
    line-height: 42px;
    margin: 0 auto;
  }
  #navBar #toggleMenu .toggleMenuGroup li a span::before {
    width: 42px;
    height: 42px;
    display: block;
    float: left;
    content: '';
    margin-right: 16px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #navBar #toggleMenu .toggleMenuGroup li:nth-child(1) a span::before {
    background-image: url(../img/menuIcon-1.png);
  }
  #navBar #toggleMenu .toggleMenuGroup li:nth-child(2) a span::before {
    background-image: url(../img/menuIcon-2.png);
  }
  #navBar #toggleMenu .toggleMenuGroup li:nth-child(3) a span::before {
    background-image: url(../img/menuIcon-3.png);
  }
  #navBar #toggleMenu .toggleMenuGroup li:nth-child(4) a span::before {
    background-image: url(../img/menuIcon-4.png);
  }
  #navBar #toggleMenu .toggleMenuGroup li:nth-child(5) a span::before {
    background-image: url(../img/menuIcon-5.png);
  }
  #navBar #toggleMenu .toggleMenuGroup li:nth-child(6) a span::before {
    background-image: url(../img/menuIcon-6.png);
  }
}

/* *****
  home 
  태블릿 너비에 대한 스타일
*/
@media screen and (max-width: 900px) {
  #header #home {
    height: 700px;
    margin: 0 auto;
  }
  #header #home .container {
    margin-top: 100px;
  }
  #header #home .container .textWrap {
    top: 34%;
  }
  #header #home .container .imgWrap {
    position: relative;
    min-width: 360px !important;
    min-height: 394px;
    height: 366px;
  }
  #header #home .container .imgWrap div:first-child {
    position: absolute;
    left: 0;
    bottom: -38px;
    width: 188px;
    height: 188px;
  }
  #header #home .container .imgWrap div:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 298px;
    height: 366px;
  }
}